.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    padding: 10px;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;

    img.logo-desktop { 
        max-height: 180px;
    }

    img.logo-mobile {
        display: none; /* Cacher le logo mobile par défaut */
        max-height: 100%; /* Il s'adapte à la hauteur du header */
    }
}

.navbar {
    display: flex;
    align-items: center; 
    background-color: #00497c;
    flex-grow: 1;
    justify-content: center; /* Centre le menu horizontalement */

    &.open {
        display: flex; 
        flex-direction: column; 
        position: absolute; 
        top: 60px; 
        left: 0;
        width: 100%;
        background-color: #00497c; 
        z-index: 1000; /* Pour que le menu soit au-dessus d'autres éléments */
    }
}

.navbar-nav {
    display: flex; 
    flex-direction: row; /* Pour le desktop */
    margin: 0; 
    padding: 0; 
    list-style: none; 
}

.nav-item {
    margin: 0 25px; /* Espace entre les sections */

    .link {
        color: #f1f8fc; /* Couleur des liens */
        text-decoration: none; 
        display: block; 
        padding: 10px; 
        transition: background-color 0.3s;

        &:hover {
            background-color: #0074c7; /* Couleur de fond au survol */
            border-radius: 5px; 
        }
    }
}

.navbar-toggler-icon {
    width: 30px; /* Largeur de l'icône */
    height: 3px; /* Épaisseur des traits */
    background-color: #0074c7; /* Couleur des traits */
    display: block;
    position: relative;

    &:before,
    &:after {
        content: '';
        width: 30px;
        height: 3px;
        background-color: #0074c7; /* Couleur des traits */
        position: absolute;
        left: 0;
    }

    &:before {
        top: -8px; /* Position du trait du dessus */
    }

    &:after {
        top: 8px; /* Position du trait du dessous */
    }
}

.search-form {
    display: flex;
    align-items: center; 

    form {
        display: flex;
        align-items: center; 
        margin-left: 30px; 
        
        input {
            width: 300px; 
            max-width: 100%; /* S'adapte à l'espace disponible */
            margin-right: 10px; /* Espace entre l'input et le bouton */
        }

        button {
            padding: 10px 15px; 
            background-color: #00497c; 
            color: #f1f8fc; 
            border: none; 
            border-radius: 5px; 
            cursor: pointer; /* Curseur en forme de main */
            
            &:hover {
                background-color: #0074c7; /* Couleur au survol du bouton */
            }
        }
    }
}

/* Mobile Styles */
@media (max-width: 768px) {
    .navbar {
        display: none; /* Cache le menu par défaut */
    }

    .logo img.logo-mobile {
        display: block; /* Affiche le favicon */
    }

    .search-form {
        margin-left: 10px; /* Ajuster l'espace pour le champ de recherche */
    }

    .menu-toggler {
        display: block; /* Affiche le bouton hamburger */
    }

    .search-form input {
        width: 100px; /* Largeur de la barre de recherche sur mobile */
    }

    .navbar.open {
        display: flex !important; /* Affiche le menu quand ouvert */
        flex-direction: column !important; /* Affiche les items en colonne */
        position: absolute; /* Positionnement absolu pour ne pas perturber le layout */
        top: 60px; 
        left: 0;
        width: 100%;
        background-color: #00497c; 
        z-index: 1000; /* Pour que le menu soit au-dessus d'autres éléments */
    }
}


/* Styles pour les tablettes et desktop */
@media (min-width: 769px) {
    .navbar {
        display: flex; 
        flex-direction: row; 
        justify-content: center; 
    }

    .navbar-collapse {
        display: flex; /* Affiche les éléments dans la navbar */
    }

    .logo img.logo-desktop {
        display: block; /* Affiche le logo normal */
    }

    .logo img.logo-mobile {
        display: none; 
    }

    .search-form input {
        width: 250px; 
    }
}
