.header {
    padding: 10px 20px; 
    
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between; 
        width: 100%;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .logo-desktop { 
        max-height: 180px;
    }

    .logo-mobile {
        display: none; /* Cacher le logo mobile par défaut */
        max-height: 100%; /* Assurez-vous qu'il s'adapte à la hauteur du header */
    }

    @media (max-width: 768px) {
        .logo-desktop {
            display: none; /* Cacher le logo desktop en mode mobile */
        }

        .logo-mobile {
            display: block; /* Afficher le logo mobile en mode mobile */
        }
    }

    .navbar {
        display: flex;
        align-items: center;
        background-color: #00497c;
        flex-grow: 1;
        
        .navbar-toggler {
            background-color: #00497c; /* Couleur du bouton hamburger */
        }

        .navbar-collapse {
            display: flex;
            justify-content: flex-end;;
            flex-grow: 1; 
        }

        .navbar-nav {
            display: flex; 
            margin: 0; 
            padding: 10px; 

            .nav-item {
                margin: 0 25px; /* Espace entre les sections */
                list-style: none; 
            }
        }
    }

    .link {
        color: #f1f8fc;
        text-decoration: none; 
    }

    form {
        margin-left: 30px; 
       
            input {
                width: 100%; /* S'adapte à l'espace disponible */
                max-width: 200px; /* Limite la largeur de la barre de recherche */
            }
    }
}