<header class="header">
    <div class="container d-flex align-items-center justify-content-between">
        <a class="logo" routerLink="/">
            <img *ngIf="!isMobileOrTablet" src="assets/Logo/Logo.png" alt="Logo Trouver ton artisan" class="logo-desktop">
            <img *ngIf="isMobileOrTablet" src="assets/favicons/favicon-32.png" alt="Logo Trouver ton artisan" class="logo-mobile">
        </a>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <button 
                    *ngIf="isMobileOrTablet" 
                    class="navbar-toggler" 
                    type="button" 
                    (click)="toggleNavbar()" 
                    aria-controls="navbarNav" 
                    aria-expanded="isNavbarOpen" 
                    aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              </div>
              <div id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="link" routerLink="/batiment">Bâtiment</a>
                    </li>
                    <li class="nav-item">
                        <a class="link" routerLink="/services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="link" routerLink="/fabrication">Fabrication</a>
                    </li>
                    <li class="nav-item">
                        <a class="link" routerLink="/alimentation">Alimentation</a>
                    </li>
                </ul>
            </div>
        </nav>
        
        <form (ngSubmit)="onSearch()">
            <input [(ngModel)]="searchTerm" placeholder="Rechercher un artisan..." name="search" required />
            <button type="submit">Rechercher</button>
        </form>
        
    </div>
</header>