<div class="container">
    <div class="logo">
        <a class="logo" routerLink="/">
            <img *ngIf="!isMobile" src="assets/Logo/logo_artisan.png" alt="Logo Trouver ton artisan" class="logo-desktop">
            <img *ngIf="isMobile" src="assets/favicons/favicon-32.png" alt="Logo Trouver ton artisan" class="logo-mobile">
        </a>
    </div>

    <nav class="navbar" [ngClass]="{'open': isNavbarOpen}">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="link" routerLink="/batiment">Bâtiment</a>
            </li>
            <li class="nav-item">
                <a class="link" routerLink="/services">Services</a>
            </li>
            <li class="nav-item">
                <a class="link" routerLink="/fabrication">Fabrication</a>
            </li>
            <li class="nav-item">
                <a class="link" routerLink="/alimentation">Alimentation</a>
            </li>
        </ul>
    </nav>

    <div class="search-form">
        <form (ngSubmit)="onSearch()">
            <input 
                placeholder="Trouvez votre artisan" 
                name="search" 
                required 
                [(ngModel)]="searchTerm" 
                aria-label="Barre de recherche">
            <button type="submit" [disabled]="!searchTerm" aria-label="Soumettre la recherche">
                <span class="button-text">Rechercher</span>
                <span class="button-icon">
                    <img src="/assets/favicons/Loupe.png" alt="Icône représentant une loupe pour effectuer une recherche sur le site">
                </span>
            </button>
        </form>
    </div>

    <div class="menu-toggler" *ngIf="isMobile">
        <button class="navbar-toggler" type="button" (click)="toggleNavbar()"  aria-label="Menu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

</div>