<footer class="footer">
    <div class="footer-row">
        <div class="footer-column">
            <div class="content">
                <a>
                    <img src="/src/assets/favicons/adresse.png" alt="Image pour une Adresse">
                </a>
                <div class="adresse">
                    <p>Antenne de Lyon</p>
                    <p>101 cours Charlemagne, CS 20033</p>
                    <p>69269 Lyon Cedex 02, France</p>
                </div>
            </div>
        </div>
        <div class="footer-column">
            <div class="content">
                <a>
                    <img src="/src/assets/favicons/appel.png" alt="Image d'un téléphone">
                </a>
                <div class="phone">
                    <p>+33 (0)4 26 73 40 00</p>
                </div>
            </div>
        </div>
        <div class="footer-column">
            <div class="content">
                <a>
                    <img src="/src/assets/favicons/horaire.png" alt="Image d'une horloge">
                </a>
                <div class="horaires">
                    <p>Bureau: du Lundi au Vendredi, de 8h15 à 17h00</p>
                    <p>Téléphone: du Lundi au Vendredi, de 8h30 à 17h00</p>
                </div>
            </div>
        </div>
    </div>
    <hr class="footer-separator">
    <div class="footer-row">
        <a href="#" class="footer-link">Mentions Légales</a>
        <a href="#" class="footer-link">Données personnelles</a>
        <a href="#" class="footer-link">Accessibilité : partiellement conforme</a>
        <a href="#" class="footer-link">Presse</a>
        <a href="#" class="footer-link">Marchés publics</a>
        <a href="#" class="footer-link">Venir à la Région</a>
        <a href="#" class="footer-link">Contact</a>
        <a href="#" class="footer-link">Gestion des cookies</a>
    </div>
    <hr class="footer-separator">
    <div class="footer-row footer-networks">
        <a href="https://www.facebook.com/RegionAuvergneRhoneAlpes" class="networks">
            <img src="/src/assets/networks/Facebook.png" alt="Logo Facebook">
        </a>
        <a href="https://www.linkedin.com/company/auvergne-rhone-alpes" class="networks">
            <img src="/src/assets/networks/linkedin.png" alt="Logo Linkedin">
        </a>
        <a href="https://www.youtube.com/c/regionauvergnerhonealpes" class="networks">
            <img src="/src/assets/networks/youtube.png" alt="Logo YouTube">
        </a>
        <a href="https://www.instagram.com/region_auvergnerhonealpes" class="networks">
            <img src="/src/assets/networks/instagram.png" alt="Logo Instagram">
        </a>
        <a href="https://twitter.com/auvergnerhalpes" class="networks">
            <img src="/src/assets/networks/Twitter.png" alt="Logo Twitter">
        </a>
    </div>
</footer>
