<div class="footer mt-auto py-3">
    <div class="container-fluid" >
        <div class="row ">
            <div class="col-12 col-md-4 text-justify d-flex align-items-center">
                <div class="content">
                    <a>
                        <img src="assets/favicons/adresse.png" alt="Icône représentant la localisation de l'Antenne de Lyon"  class="footer-img">
                    </a>
                    <div class="adresse">
                        <p>Antenne de Lyon</p>
                        <p>101 cours Charlemagne, CS 20033</p>
                        <p>69269 Lyon Cedex 02, France</p>
                    </div>
                </div> 
            </div>
            <div class="col-12 col-md-4 text-justify d-flex align-items-center">
                <div class="content">
                    <a href="tel:+330426734000" class="call-to-action">
                        <img src="assets/favicons/appel.png" alt="Icône pour téléphoner à l'Antenne de Lyon"  class="footer-img">
                    </a>
                    <div class="phone">
                        <p>+33 (0)4 26 73 40 00</p>
                    </div>
                </div>
            </div>
             <div class="col-12 col-md-4 text-justify d-flex align-items-center">
                <div class="content">
                    <a>
                        <img src="assets/favicons/horaire.png" alt="Icône représentant les horaires d'ouverture de l'Antenne de Lyon"  class="footer-img">
                    </a>
                    <div class="horaires">
                        <p><u>Bureau :</u> du Lundi au Vendredi, de 8h15 à 17h00</p>
                        <p><u>Téléphone :</u> du Lundi au Vendredi, de 8h30 à 17h00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container-fluid py-3" >
        <div class="row "> 
            <div class="col-12 text-center">
                <a routerLink="pagenotfound" class="footer-link">Mentions Légales</a>
                <a routerLink="pagenotfound" class="footer-link">Données personnelles</a>
                <a routerLink="pagenotfound" class="footer-link">Accessibilité : partiellement conforme</a>
                <a routerLink="pagenotfound" class="footer-link">Presse</a>
                <a routerLink="pagenotfound" class="footer-link">Marchés publics</a>
                <a routerLink="pagenotfound" class="footer-link">Venir à la Région</a>
                <a routerLink="pagenotfound" class="footer-link">Contact</a>
                <a routerLink="pagenotfound" class="footer-link">Gestion des cookies</a> 
            </div>
        </div>
    </div>
    <hr>
    <div class="container-fluid py-3">
        <div class="row">
            <div class="col-12 text-center">
                <div class="networks">
                    <a href="https://www.facebook.com/RegionAuvergneRhoneAlpes" class="networks_img">
                        <img src="assets/networks/Facebook.png" alt="Logo Facebook">
                    </a>
                    <a href="https://www.linkedin.com/company/auvergne-rhone-alpes" class="networks_img">
                        <img src="assets/networks/linkedin.png" alt="Logo Linkedin">
                    </a>
                    <a href="https://www.youtube.com/c/regionauvergnerhonealpes" class="networks_img">
                        <img src="assets/networks/youtube.png" alt="Logo YouTube">
                    </a>
                    <a href="https://www.instagram.com/region_auvergnerhonealpes" class="networks_img">
                        <img src="assets/networks/Instagram.png" alt="Logo Instagram">
                    </a>
                    <a href="https://twitter.com/auvergnerhalpes" class="networks_img">
                        <img src="assets/networks/Twitter.png" alt="Logo Twitter">
                    </a>  
                </div>    
            </div>
        </div>
     </div>
    
    </div>
