.footer {
    width: 100%; 
    margin: 0; 
    padding: 20px ; 
    box-sizing: border-box; 
    position: relative;
     

    .container-fluid {
        padding: 0;

        .border-bottom {
            border-bottom: 1px solid #f1f8fc;
        }
    }

 .content {
    display: flex;
    align-items: center;
    padding-bottom: 15px ;

    a {
        margin-right: 20px;
    }
 }

 .adresse, .phone, .horaires {
    p {
        margin: 0;
    }
 }
 .footer-link {
    color: #f1f8fc;
    margin: 15px;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
 }
}

.networks {
    display: flex;
    justify-content: center;
    a {
        margin: 5px; 
        img {
            width: 20px; 
            height: auto;
        }
    }
}

@media (max-width: 768px) {
    .footer {
        padding: 10px; // Réduit le padding sur mobile
    }

    .content {
        flex-direction: column; // Empile le contenu verticalement
        align-items: flex-start; // Aligne à gauche
        padding-bottom: 10px; // Ajuste l'espace en bas
    }

    .footer-link {
        margin: 5px 0; // Réduit les marges pour les petits écrans
        text-align: center; // Centre les liens
    }

    .networks {
        justify-content: center; // Centre les icônes sur mobile
    }
}
