
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Evite le défilement horizontal */
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #f1f8fc; 
    padding: 10px; 
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000; 
    height: 180px;
}

main {
    flex: 1; 
    padding-top: 150px; 
    padding-bottom: 60px;
    overflow: auto;
    width: 100vh;
    background-color: white;
}

footer {
   background-color: #0074c7; 
    color: #f1f8fc; 
    width: 100%;
    box-sizing: border-box; 
    position: relative; 
    left: 0;
    bottom: 0;
    font-size: small;
    font-weight: lighter;
    margin: 0; 
    z-index: 1000; 
}
