<main>
    <h2>Artisans de la catégorie "{{ category }}"</h2>
    <ul class="artisan-list">
        <li *ngFor="let artisan of artisans" class="artisan-card"> 
            <img [src]="artisan.image" alt="{{ artisan.specialty }}" />
            <hr>
            <a [routerLink]="['/artisan', formatArtisanName(artisan.name)]">
                {{ artisan.name }}
              </a>
            <hr>
            <div><u>Spécialité:</u> {{ artisan.specialty }}</div>
            <div><u>Localisation:</u> {{ artisan.location }}</div>
            <app-rating [(note)]="artisan.note" (noteChange)="updateNote(artisan.id, $event)"></app-rating>
        </li>
    </ul>
    <ng-container *ngIf="artisans.length === 0">
        <p>Aucun artisan trouvé pour cette catégorie.</p>
    </ng-container>
</main>



