<main>
    <h1>Liste des artisans</h1>
        <!-- Formulaire de filtrage -->
        <form (ngSubmit)="onFilter()">
            <input [(ngModel)]="selectedSpecialite" placeholder="Spécialité" name="specialite" />
            <input [(ngModel)]="selectedCategory" placeholder="Catégorie" name="category" />
            <button type="button" (click)="resetFilters()">Réinitialiser</button> 
        </form>

  <!-- Liste des artisans filtrés -->
  <ul class="artisan-list">
    <li *ngFor="let artisan of artisans | artisanFilter:selectedLocalisation:selectedSpecialite:selectedNote:selectedCategory" class="artisan-card">
        <strong>{{ artisan.name }}</strong>
        <hr>
        <div><u>Spécialité:</u> {{ artisan.specialty }}</div>
        <div><u>Localisation:</u> {{ artisan.location }}</div>
        <div><u>Note:</u> {{ artisan.note }}/5</div>
    </li>
  </ul>


</main>

