main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 20px;
   
}

h1, h2 {
    text-align: center;
    color: #0047c7;
    margin-bottom: 60px;
    padding: 10px;

}


.filter-form {
    display: flex; 
    justify-content: center; 
    margin-bottom: 30px; /* Espace sous le formulaire */
}

input {
    margin-right: 20px; /* Espace entre les inputs */
    padding: 8px;
    width: 200px;
    color: #384050; 

}
hr {
    background-color:2px solid #0047c7;
}

button {
    padding: 8px 16px; // Ajout de padding pour le bouton
    color: #0047c7;
    background-color: #f1f8fc;
    border-color: #0047c7;
}

.artisan-list {
    width: 100%;
    display: flex;               
    flex-wrap: wrap;            
    justify-content: flex-start; /* Aligner à gauche (ou center pour centrer) */
    margin-top: 20px;           /* Espace au-dessus de la liste */
    padding: 15px; 
    list-style-type: none; 
}

.artisan-card {
    border: 1px solid #f1f8fc; 
    border-radius: 8px; 
    padding: 16px; 
    margin: 10px; 
    width: 200px; /* Largeur des cartes */
    text-align: center;
    box-shadow: 0 2px 5px #384050;
    background-color: #f1f8fc;
}





