@font-face {
    font-family: 'Graphik';
    src: url('assets/fonts/Graphik-Thin-Trial.woff2') format('woff2'),
        url('assets/fonts/Graphik-Thin-Trial.otf') format('opentype');
    font-weight: 100; // Thin
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('assets/fonts/Graphik-Light-Trial.woff2') format('woff2'),
        url('assets/fonts/Graphik-Light-Trial.otf') format('opentype');
    font-weight: 300; // Light
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('assets/fonts/Graphik-Regular-Trial.woff2') format('woff2');
    font-weight: 400; // Regular
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('assets/fonts/Graphik-Medium-Trial.woff2') format('woff2'),
        url('assets/fonts/Graphik-Medium-Trial.otf') format('opentype');
    font-weight: 500; // Medium
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('assets/fonts/Graphik-Semibold-Trial.woff2') format('woff2'),
        url('assets/fonts/Graphik-Semibold-Trial.otf') format('opentype');
    font-weight: 600; // Semibold
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('assets/fonts/Graphik-Bold-Trial.woff2') format('woff2'),
        url('assets/fonts/Graphik-Bold-Trial.otf') format('opentype');
    font-weight: 700; // Bold
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('assets/fonts/Graphik-Extralight-Trial.woff2') format('woff2'),
        url('assets/fonts/Graphik-Extralight-Trial.otf') format('opentype');
    font-weight: 200; // Extralight
    font-style: normal;
}


body {
    font-family: 'Graphik', sans-serif;
    font-weight: 400;
}



