.homepage {
    margin-top: 20px;
    width: 100%;
    background-color: white;
}



.steps {
    background-color: #f1f8fc;
    padding: 20px;
    color: #00497c;
    width: 100%;
  margin-top: 100px;
  margin-bottom: 60px;
    border-radius: 8px; /* Ajout d'un rayon de bord pour un aspect plus moderne */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre légère */

    h1, h2 {
        text-align: center;
        color: #0047c7;
        margin-bottom: 60px;
        padding: 10px;
    }
}

.steps-content {
    display: flex;
    flex-direction: row;         
    justify-content:center; 
    align-items: flex-start;   
    width: 100%;
    gap: 10px;  
    margin-bottom: 20px;
}

.steps-list {
    flex: 1;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    transition: transform 0.3s ease; 
}

.step-item {
    display: flex;
    align-items: center;  
    margin-bottom: 15px;

    img {
        margin-right: 20px;  
        height: auto;
    }

    p {
        margin: 0; 
        font-size: 17px;  
    }
}

.steps-image {
   display: block;
    align-items: center;
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 0; /* Réduit l'écart */
    transition: transform 0.3s ease-in-out; /* Effet doux lors du zoom */
}

.steps-image:hover {
    transform: scale(1.05); /* Zoom léger au survol de l'image */
}

.top-artisans {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center; 
    background-color: #f1f8fc;
    width: 100%;
    border-radius: 8px; /* Ajout d'un rayon de bord pour un aspect plus moderne */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre légère */

    h1, h2 {
        color: #0047c7;
        text-align: center;
        margin-bottom: 30px;
    }

    hr {
        border: 0;
        border-top: 1px solid #0074c7;  
        margin: 10px 0;  
        width: 100%; 
    }
    
    .artisan-list {
        display: flex;               
        flex-wrap: wrap;            
        justify-content: flex-start; /* Aligner à gauche */
        margin-top: 20px; /* Espace au-dessus de la liste */
        padding: 0; /* Retire le padding pour un meilleur alignement */
        list-style-type: none; 
        gap: 20px; /* espace entre les cartes*/
    }
    
    
    .artisan-list a {
        color: #0047c7;
        transition: color 0.3s ease, letter-spacing 0.3s ease;
        animation: fadeIn 1s forwards;
    }
    
    .artisan-list a:hover {
        color: #384050;
        text-decoration: underline;
        letter-spacing: 1px;
    }
    
    .artisan-card {
        border: 1px solid #f1f8fc; 
        border-radius: 8px; 
        padding: 16px; 
        margin: 10px; 
        width: 200px; /* Largeur des cartes */
        text-align: center;
        box-shadow: 0 2px 5px #384050;
        background-color: #f1f8fc;
        flex: 0 1 auto; /* Assure que les cartes gardent leur largeur */
        display: flex;
        flex-direction: column;
        align-items: center; /* Centrer le contenu à l'intérieur de la carte */
        justify-content: space-between; /* Espacer correctement les éléments */
        transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    }
    
    .artisan-card:hover {
        transform: translateY(-10px);  /* Légère élévation */
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
        background-color: #0074c736; /* Changement de couleur au survol */
    }
    
    .artisan-card img {
        max-width: 100%;
        border-radius: 8px;
        height: 32px; /* Hauteur fixe pour l'image */
        object-fit: cover; /* Assure que l'image garde son ratio sans déformation */
    }

     

    }
   
     
@media (min-width: 1024px) {
    .artisan-list {
        justify-content: space-evenly /* Aligner les cartes à gauche sur desktop */
    }
    
    .artisan-card {
        width: 220px; /* Augmenter la taille des cartes sur desktop */
        margin: 20px;
    }
}

@media (max-width: 768px) {
    .steps {
        padding-top: 80px;
        width: 100%;
    }
    
    .steps-content{
        flex-direction: column;
        align-items: center; 
    }
        
    .steps-list {
        margin-right: 0;
        margin-bottom: 20px;
    }
        
    .artisan-card{
        width: calc(50% - 20px); /* Deux cartes par ligne sur les petits écrans */
    }
}
     
@media (max-width: 480px) {
    .artisan-card {
        width: calc(100% - 20px); /* Une carte par ligne sur les très petits écrans */
    }
}

   