.homepage {
    margin-top: 20px;
    width: 100%;
    background-color: white;
}
 main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 20px;
 }

.steps {
    background-color: #f1f8fc;
    padding: 20px;
    color: #00497c;
    width: 100%;
    margin: 40px auto;
 

    h1, h2 {
        text-align: center;
        color: #0047c7;
        margin-bottom: 60px;
        padding: 10px;
    
    }

 

    @media (max-width: 768px) {
        padding-top: 80px; /* Ajuste pour compenser la hauteur du header sur mobile */
        width: 100%; /* Prend toute la largeur sur mobile */
    }
}

.steps-content {
    display: flex;
    align-items: flex-start;
    width: 100%;

    @media (max-width: 768px) {
        flex-direction: column; /* Empile les éléments sur les petits écrans */
    }
}

.steps-list {
    flex: 1;
    margin-right: 20px; /* Espace entre la liste et l'image */
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
        margin-right: 0; /* Supprime l'espace sur mobile */
        margin-bottom: 20px; /* Ajoute de l'espace en bas pour séparer l'image */
    }

}

.step-item {
    display: flex;
    align-items: baseline;
    margin-bottom: 15px;

    a {
        margin-right: 10px;
    }
        img {
            margin-right: 10px;
        }
}

.steps-image {
    max-width: 20%; 
    height: auto; /* Conserve le ratio de l'image */

    @media (max-width: 768px) {
        max-width: 100%; /* Prend toute la largeur sur mobile */
    }
}

.top-artisans {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center; 
    background-color: #f1f8fc;
    width: 100%;

    h1, h2 {
        color:#0047c7;
        text-align: center;
        margin: 0;
        padding-bottom: 30px;
    }


    .artisan-list {
        display: flex; 
        justify-content: center; 
        padding: 0; 
        list-style-type: none; 
        gap: 15px; /* Espacement uniforme */
    }
    
    .artisan-list li {
        width: 100%; /* Prend toute la largeur sur mobile */
        max-width: 250px; /* Largeur fixe maximum */
        height: 300px; 
        display: flex;
        flex-direction: column;
        justify-content: flex-start; /* Change à flex-start pour éviter un espacement excessif */
        text-align: center; 
        box-shadow: 0 2px 5px #384050;
        padding: 10px; 
        border-radius: 5px;     
    }
    
    .artisan-list img {
        max-width: 100%; 
        height: auto; 
        margin-bottom: 10px; /* Réduit l'espacement sous l'image */
    }

    .artisan-list a {
        color: #0047c7;
    }

    .artisan-list a:hover {
        color: #384050;
        text-decoration: underline;
    }

    .artisan-separator {
        border: none; 
        height: 2px;
        background-color: #0047c7;
        margin: 5px 0; /* Réduit l'espacement autour du trait */
    }

    .artisan-list li div {
        margin: 2px 0; /* Réduit l'espacement vertical entre les lignes */
    }

        @media (min-width: 768px) {
            .artisan-list {
                flex-direction: row; 
                flex-wrap: wrap; 
                justify-content: center;
            }
            
            .artisan-list li {
                width: calc(50% - 15px); 
            }
        }

        @media (min-width: 1024px) {
            .artisan-list li {
                width: calc(33.33% - 10px); 
            }
         }

}
