<main>
    <section class="steps">
        <h1>Comment trouver mon artisan?</h1>
        <div class="steps-content">
            <div class="steps-list">
                <div class="step-item">
                    <a href="#">
                        <img src="/assets/chiffres/chiffre-1.png" alt="Image du chiffre 1">
                    </a>
                    <p>Choisir la catégorie d'artisanat dans le menu</p>
                </div>
                <div class="step-item">
                    <a href="#">
                        <img src="assets/chiffres/chiffre-2.png" alt="Image du chiffre 2">
                    </a>
                    <p>Choisir un artisan</p>
                </div>
                <div class="step-item">
                    <a href="#">
                        <img src="assets/chiffres/chiffre-3.png" alt="Image du chiffre 3">
                    </a>
                    <p>Le contacter via un formulaire de contact</p>
                </div>
                <div class="step-item">
                    <a href="#">
                        <img src="assets/chiffres/chiffre-4.png" alt="Image du chiffre 4">
                    </a>
                    <p>Une réponse vous sera apportée sous 48h</p>
                </div>
            </div>
            <img src="assets/Img/Recherches.png" alt="Image montrant le processus de recherche" class="steps-image" />
        </div>
    </section>
    <section class="top-artisans">
        <h2>Top 3 des artisans du mois</h2>
        <div >
            <ul class="artisan-list">
                <li *ngFor="let artisan of topArtisans">
                    <img [src]="artisan.image" alt="{{ artisan.specialty }}" />
                    <hr>
                    <strong>{{ artisan.name }}</strong>
                    <hr>
                    <div><u>Spécialité:</u> {{ artisan.specialty }}</div>
                    <div><u>Localisation:</u> {{ artisan.location }}</div>
                    <div><u>Note:</u> {{ artisan.note }}/5</div>
                </li>
            </ul>
        </div>
    </section>
</main>
