<main>
    <section class="steps">
        <h1>Comment trouver mon artisan?</h1>
        <div class="steps-content">
            <div class="steps-list">
                <div class="step-item">
                    <img src="/assets/chiffres/chiffre-1.png" alt="Icône représentant la première étape: Choisir la catérgorie d'artisanat dans le menu">
                    <p>Choisir la catégorie d'artisanat dans le menu</p>
                </div>
                <div class="step-item">
                   <img src="assets/chiffres/chiffre-2.png" alt="Icône représentant la deuxième étape: Choisir un artisan">
                    <p>Choisir un artisan</p>
                </div>
                <div class="step-item">
                    <img src="assets/chiffres/chiffre-3.png" alt="Icône représentant la troisième étape: Le contacter via un formulaire de contact">
                    <p>Le contacter via un formulaire de contact</p>
                </div>
                <div class="step-item">
                    <img src="assets/chiffres/chiffre-4.png" alt="Icône représentant la quatrième et dernière étape: Une réponse vous sera apportée sous 48H">
                    <p>Une réponse vous sera apportée sous 48h</p>
                </div>
            </div>
            <img src="assets/Img/Recherche.png" alt="Image montrant le processus de recherche" class="steps-image" />
        </div>
    </section>
    <section class="top-artisans">
        <h2>Top 3 des artisans du mois</h2>
        <div >
            <ul class="artisan-list">
                <li *ngFor="let artisan of topArtisans" class="artisan-card">
                    <img [src]="artisan.image" alt="{{ artisan.specialty }}" />
                    <hr>
                    <a [routerLink]="['/artisan', formatArtisanName(artisan.name)]">
                        {{ artisan.name }}
                    </a>
                    <hr>
                    <div><u>Spécialité:</u> {{ artisan.specialty }}</div>
                    <div><u>Localisation:</u> {{ artisan.location }}</div>
                    <app-rating [(note)]="artisan.note" (noteChange)="updateNote(artisan.id, $event)"></app-rating>
                </li>
            </ul>
        </div>
    </section>
</main>
