<main>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-4 text-center">
        <div *ngIf="artisan">
          <h1 class="artisan-name"> {{details?.name}}</h1>
          <ul class="detail-line">
            <li class="detail-item">
              <img src="assets/favicons/specialite-bleu.png" alt="Favicon représentant le métier"/>
                  <p><strong><u>Spécialité:</u></strong> {{ details?.specialty }} </p>
            </li>
            <li class="detail-item">
              <img src="assets/favicons/endroit.png" alt="favicon de l'adresse">
                <p><strong><u>Localisation:</u></strong> {{ details?.location }} </p>
            </li>
            <li class="detail-item">
              <img src="assets/favicons/note.png" alt="favicon de l'étoile pour la note">
                <p><strong><u>Note:</u></strong> {{ details?.note }} sur 5</p>
            </li>
          </ul>
        </div>
      </div>
        
      <div class="col-md-8">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              A Propos
              <button class="accordion-button" aria-label="Ouvrir l'accordéon A Propos"  type="button" (click)="toggleAccordion(1)" [ngClass]="{'collapsed': activeAccordion !== 1}">
                <img src="assets/favicons/ouvrir.png" alt="Favicon ouvertur du menu accordéon">
              </button>
            </h2>
            <div class="accordion-collapse collapse" [class.show]="activeAccordion === 1" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                {{ details?.about }}
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">  
              Nos Informations
              <button class="accordion-button" aria-label="Ouvrir l'accordéon Nos Informations"  type="button" (click)="toggleAccordion(2)" [ngClass]="{'collapsed': activeAccordion !== 2}">
                <img src="assets/favicons/ouvrir.png" alt="Favicon ouvertur du menu accordéon">
              </button>
            </h2>
            <div class="accordion-collapse collapse" [class.show]="activeAccordion === 2" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p *ngIf="details?.email"><strong>Email: </strong> 
                  <a [href]="'mailto:' + details?.email">{{ details?.email }}</a>
                </p>
                <p *ngIf="details?.website"><strong>Site Web: </strong> <a [href]="details?.website">{{ details?.website }}</a></p>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree"> 
              Formulaire De Contact
              <button class="accordion-button" aria-label="Ouvrir l'accordéon Formulaire de Contact"  type="button" (click)="toggleAccordion(3)" [ngClass]="{'collapsed': activeAccordion !== 3}">
                <img src="assets/favicons/ouvrir.png" alt="Favicon ouvertur du menu accordéon">
              </button>
            </h2>

            <div class="accordion-collapse collapse" [class.show]="activeAccordion === 3" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div *ngIf="confirmationMessage" class="alert alert-success" role="alert" aria-live="assertive">
                  {{ confirmationMessage }}
                </div>

                <form [formGroup]="contactForm" (ngSubmit)="sendEmail()" id="formulaire">
                  <div class="mb-3">
                    <input type="text" class="form-control" id="name" name="name" formControlName="name" placeholder="Nom" autocomplete="name"required>
                  </div>
                  <div class="mb-3">
                    <input type="text" class="form-control" id="firstName" name="firstName" formControlName="firstName" placeholder="Prénom" autocomplete="given-name" required>
                  </div>
                  <div class="mb-3">
                    <input type="email" class="form-control" id="email" name="email" formControlName="email" placeholder="Votre Email" autocomplete="email" required>
                  </div>
                  <div class="mb-3">
                    <input type="text" class="form-control" id="object" name="object" formControlName="object" placeholder="Objet de votre demande" autocomplete="off" required>
                  </div>
                  <div class="mb-3">
                    <textarea class="form-control" id="message" name="message"  formControlName="message" rows="3" placeholder="Message" autocomplete="off" required></textarea>
                  </div>
                  <div class="col-auto text-center"> 
                    <button type="submit" class="btn btn-primary mb-3">Envoyer votre demande</button>
                  </div>
                </form>          
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>     
</main>
 

  
