main {
  display: flex;
  flex-direction: column; 
  align-items: center;
  width: 100%;
  margin: 80px auto 20px; /* Centrage avec des marges */
  max-width: 1200px;
}

.row {
  display: flex;
  flex-direction: column; /* Toujours en colonne */
  width: 100%;
  padding: 5px;
}

.artisan-name {
  width: 100% !important;
  text-align: center !important;
  margin-bottom: 20px;
}

.title {
    width: 100%; /* Titre prend toute la largeur */
    text-align: center; 
    margin-bottom: 20px;
    padding: 10px;
  }

  .detail-list {
    list-style-type: none; /* Enlève les puces de la liste */
    padding: 10px; 
    width: 100%; 

    .detail-item {
      display: flex;
      align-items: center;
      justify-content: flex-start; 
      margin-bottom: 10px; /* Espace entre les items */

      .detail-item img {
        margin-right: 10px;
        width: 30px;
      }

      p {
        margin: 5px; 
      }
    }
  }

.accordion {
    width: 100%; /* Prendre 100% de la largeur pour mobiles et autres appareils */
    border: 1px solid #384050; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.accordion-item {
    margin: 5px 0;
}

.accordion-header {
    background-color: #0074c7; /* Change l'arrière-plan de l'en-tête */
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    color: #f1f8fc;
    padding: 10px;
}

.accordion-button {
    background-color:#0074c7; 
    border: none;
    width: 10%;
}

.send-button { /* Classe spécifique pour le bouton "Envoyer" */
  width: 50%; /* Prendre 50% de la largeur */
  margin: 0 auto; /* Centrer le bouton */
}

.accordion-button:not(.collapsed) {
    background-color:#0074c7; /* Arrière-plan lorsque l'accordéon est ouvert */  
}

.accordion-collapse {
    transition: max-height 0.4s ease;
}

.accordion-body {
    color: #384050;
    padding: 10px;
}

/* Mobile styles (default) */
.send-button {
  width: 80%; /* Wide on mobile */
  margin: 0 auto;
}

/* Tablet styles */
@media (min-width: 768px) {
  .send-button {
    width: 70%;
  }
}

/* Desktop styles */
@media (min-width: 992px) {
  .send-button {
    width: 50%; /* Adjusts for larger screens */
  }

  .detail-list {
    display: flex; /* Display in a row on larger screens */
    flex-wrap: wrap; /* Allow wrapping */
  }

  .detail-item {
    flex: 1 1 30%; /* Allow items to grow/shrink */
    margin: 10px; /* Margin between items */
  }
}